body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.task-manager {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, blue,0 0.1);
    padding: 30px;
    width: 500px;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 40px;
}

button:hover {
    background-color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li button {
    background-color: #070707;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #d00000;
}

.done {
    background-color: rgb(76, 241, 5);
}

.done-button-hidden {
    display: none;
}
#taskList {
    display: flex;
    flex-direction: column-reverse; /* Kjo do të bëjë që detyrat e prapambetura të shfaqen sipër */
}
